<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:orientation="vertical"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:minWidth="25px"
    android:minHeight="25px">
    <Toolbar
        android:minHeight="?android:attr/actionBarSize"
        android:background="?android:attr/colorPrimary"
        android:minWidth="25px"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:titleTextColor="#FFFFFF"
        android:id="@+id/settingsToolbar"
        android:title="@string/settings" />
    <ScrollView
        android:minWidth="25px"
        android:minHeight="25px"
        android:layout_width="match_parent"
        android:layout_height="match_parent">
        <LinearLayout
            android:padding="20dip"
            android:layout_width="match_parent"
            android:layout_height="match_parent"
            android:orientation="vertical">
            <TextView
                android:text="@string/site"
                android:textColor="?android:attr/colorAccent"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:id="@+id/siteText"
                android:layout_marginBottom="20dip" />
            <Button
                android:text="Select Site"
                android:textColor="#ffffff"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:background="@drawable/button"
                android:id="@+id/selectSite" />
            <TextView
                android:text="@string/theme"
                android:textColor="?android:attr/colorAccent"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:id="@+id/themeText"
                android:layout_marginTop="20dip"
                android:layout_marginBottom="20dip" />
            <RadioGroup
                android:minWidth="25px"
                android:minHeight="25px"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:id="@+id/themeGroup">
                <RadioButton
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:checked="true"
                    android:text="Light"
                    android:id="@+id/lightThemeButton"
                    android:textColor="?android:attr/textColorSecondary" />
                <RadioButton
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:checked="false"
                    android:text="Dark"
                    android:id="@+id/darkThemeButton"
                    android:textColor="?android:attr/textColorSecondary" />
            </RadioGroup>
            <TextView
                android:text="@string/account"
                android:textColor="?android:attr/colorAccent"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:id="@+id/accountText"
                android:layout_marginBottom="20dip"
                android:layout_marginTop="20dip" />
            <Button
                android:text="@string/logout"
                android:textColor="#ffffff"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:background="@drawable/button"
                android:id="@+id/logout" />
        </LinearLayout>
    </ScrollView>
</LinearLayout>